body {
    padding-top: 20px;
    font-family: "Noto Sans TC", sans-serif;
    background-color: rgb(19, 19, 19);
    color: white;
}

img {

    max-height: 500px;
    max-width: 500px;
}

div {
    justify-items: center;
}

table {
    border: 2px solid white;
    width: 50vw;
}

td {
    text-align: center;
    border: 2px solid white;
}

a {
    color: rgb(250, 77, 77);
    text-decoration: none;
}

a:hover {
    color: red;
}

nav {
    position: fixed;
    top: 0px;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)),
        url(../../images/carbon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 3px solid gray;
    box-sizing: border-box;
}



nav button,
nav div {
    color: orange;
    display: flex;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-left: 3px solid gray;
    padding-left: 20px;
    /* 添加元素之间的边框 */
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

nav button:first-child,
nav div:first-child {
    border-left: none;
    /* 移除第一个元素的左边框 */
}

nav button :hover {
    cursor: pointer;
}