
body {

    padding-left: 20px;
    padding-top: 20px;
    font-family:"Noto Sans TC",sans-serif;
    background-color: rgb(19, 19, 19);
    color:white;

}

img {

    max-height: 500px;
    max-width: 500px;
}

div {
    justify-items: center;
}

table {
    border: 2px solid white;
}

td {
    text-align: center;
    border: 2px solid white;
}

a{
    color: rgb(250, 77, 77);
    text-decoration: none;
}

a:hover {
    color: red;
}